body{
    background-color: aliceblue;
    padding: auto;
    font-size: x-large;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
}