body {
    font-size: 16px;
    color: #fff;
    background-color: #ffffff;
    font-family: 'Oxygen', sans-serif;
  }
  #header-nav {
    background-color: gray;
    border-radius: 0;
    border: 0;
  }

  .navbar-brand {
    padding-top: 15px;
  }
  .navbar-brand a {
    vertical-align: middle;
  }
  .navbar-brand h1 { /* name */
    font-family: 'Lora', serif;
    color: #0e0e0d;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }

  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }
  #nav-list {
    margin-top: 40px;
  }
  #nav-list a {
    color: black;
    text-align: center;
  }
  #nav-list a:hover {
    background: none;
  }
  #nav-list a span {
    font-size: 1.8em;
  }
  /* .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  } */
  h1 {
    text-align: center;
    color: black;
  }
  div {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;
    position: relative;
  }
  #chicken, #beef, #sushi {
    height: 200px;
    width: 100%;
    margin-bottom: 5px;
    position: relative;
    border: 1px solid #000000;
    overflow: hidden;
    background-color: gray;
  }
  #chicken span, #beef span, #sushi span{
    position: relative;
    float: left;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    /* background-color: #000; */
    color: black;
    opacity: 1;
  }
  #chicken a:hover, #beef a:hover, #sushi a:hover {
    text-decoration: none;
  }